<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
      <link href="/Styles/login.css" type="text/css" rel="stylesheet" />
<title>Change Password</title>
<link rel="stylesheet" href="style.css"/>
<script> 
function Validate() {
    var password = document.getElementById("npwd").value;
    var confirmPassword = document.getElementById("cpwd").value;
    if (password != confirmPassword) {
        alert("Passwords Don't Match");
        return false;
    }
    else{
    return true;
    }
}
</script>
</head>
<body>
<div class="container">
<div class="main">
<h2>Change Password</h2>
<form id="form_id" th:object="${change_password}" method="post" action="/newpassword" name="myform">
<label>SOEID</label>
<input type="text" name="soeid" id="soeid" th:field="*{soeid}" readonly/><br>
<label>Enter New Password</label>
<input type="password" name="npwd" id="npwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/><br>
<label>Confirm New Password</label>
<input type="password" name="cpwd" id="cpwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/><br>
<input type="submit" value="Change Password" id="submit" onclick= "Validate()"/><br><br>
</form>
<!--<span><b class="note">Note : </b>For this demo use following username and password. <br/><b class="valid">User Name : Formget<br/>Password : formget#123</b></span>-->
</div>
</div>
</body>
</html>