<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Scrum Maaster</title>
<link href="/Styles/stylesheets.css" type="text/css" rel="stylesheet" />
<script src="/scripts/jquery-3.4.1.min.js"></script>
<script src="/scripts/shipperpagescripts.js"></script>
</head>
<body>
  <h1><mark>Citi Release Project</mark></h1>
  <div class="navbar">
  <a href="/home">Home</a>
  <a href="/">LogOut</a>
</div>
  <div class="selection">
  <h3>Create the Release</h3>
  <ht>
<table>
<tr> Project Name:
 <select>
   <option value="select a Project">select a Project</option>
   <option value="1">ABC</option>
   <option value="2">PQR</option>
   <option value="3">XYZ</option>
 </select>
</tr>
<br>
<br>
 <tr> Release Number:
 <select >
  <option value="select a release">select a release</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  </select>
</tr>
</table>
	<button id="Add" onclick="addRelease()"class="dropbtn">Add Release</button>
</div>
</body>
</html>
