<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Scrum Master</title>
<!-- <link href="/Styles/stylesheets.css" type="text/css" rel="stylesheet" />
 --><link  href="/Styles/sustylesheets.css" type="text/css" rel="stylesheet" />
<link  href="/Styles/allUsers.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/scripts/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link th:href="@{/styles/styles.css}" type="text/css" rel="stylesheet" />
<script>
function doDelete(){
	return confirm("Are you sure you want to delete this task?");
}
</script>
</head>
<body>

<div class="navbar">
<a class="home"href="/home">Home</a>
<a class="logout" href ="/logout"> Logout</a>
</div>
<table id="table1">
	<tr><th>JIRA Number</th><th>Task Name</th><th>Owner</th><th>UAT Date</th><th>Task Status</th></tr>
	<tr th:each="t:${viewTasks}" >	
		<td><a th:href="'/tedit/' + ${t.jira_no}"><span th:text="${t.jira_no}"></span></a></td>
		<td th:text="${t.task_name}">Task Name</td>
		<td th:text="${t.task_owner}">Task Owner</td>
		<td th:text="${t.uat_date}">UAT Date</td>
		<td th:text="${t.task_status}">Task Status</td>
		<td><a  id="del" th:href="'/tedit/' + ${t.jira_no}">View Task</a></td>	
		<td><a th:href="'/tdelete/' + ${t.jira_no}" onclick="return doDelete()">Delete Task</a></td>
		
<!-- 	<button type="submit" id="viewTasks"class= "bttn" >View Tasks</button>
 --></form>
		
	</tr>
</table>
</body>
</html>